<html>

<head>
    <title>files</title>
    <link href="/static/css/index.css" rel="stylesheet" />
    <link rel="icon" href="data:;base64,=">
</head>

<body>
    <center>
        <table>
            <tr>
                <td colspan="2">当前目录：</td>
                <td colspan="2">{{.Path}}</td>
            </tr>
            <tr>
                <!--   <th>文件名</th> -->
                <th>文件路径</th>
                <th>文件大小（Byte）</th>
                <th>修改日期</th>
                <th>文件夹</th>
            </tr>
            {{range.FileMap}}
            <!-- 如果不是一级目录，不显示 -->
            {{if contains .Path "/" }} {{else}}
            <tr>
                <!--  <td>{{.Name}}</td> -->
                <td style="text-align: left">
                    {{if .IsDir }}
                    <a href="javascript:void(0)">{{.Path}}</a> {{else}} {{.Path}} {{end}}
                </td>
                <td>{{.Size}}</td>
                <td>{{.ModTime}}</td>
                <td>
                    <!-- 是否是目录 -->
                    {{if .IsDir }} 是 {{else}} 否 {{end}}
                </td>
            </tr>
            {{end}}
            <!-- 对map进行遍历, .代表传入的对象map,取到的值是map存储的value -->
            {{end}}
        </table>
    </center>
</body>